.container {
  padding: 1rem;
}

.container h4 {
  padding-left: 1rem;
}

.inner_container {
  padding-top: 1rem;
  height: calc(100vh - 130px);
}

.content_container {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.input_container {
  padding-top: 1rem;
}

.input_container input {
  width: 40%;
  padding: 0.7rem 1.2rem;
  background-color: #ededed;
  border-radius: 10px;
  outline: none;
  border: none;
}

.card_view_container {
  padding-top: 1rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.list_view_container {
  padding-top: 1rem;
}
