.sidebar {
  position: fixed;
  left: 0;
  width: 300px;
  padding: 1.5rem;
}

.sidebar_content {
  height: calc(100vh - 3rem);
  overflow-y: auto;
  overflow-x: hidden;
  padding: 2rem;
}

.logo {
  border-bottom: 1px solid var(--secondary);
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  text-align: center;
}

.logo img {
  height: 35px;
  width: auto;
  object-fit: contain;
}

.sidebar_content nav ul {
  list-style: none;
}

.sidebar_content nav ul li a {
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  height: 60px;
  background-color: var(--primary);
  text-decoration: none;
}

.sidebar_content nav ul li img {
  height: 20px;
  width: 20px;
  object-fit: contain;
  margin-right: 15px;
}

.sidebar_content nav ul li h6 {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: var(--secondary);
}

.active {
  background-color: var(--secondary) !important;
}

.active h6 {
  color: var(--primary) !important;
}

@media only screen and (max-width: 768px) {
  .sidebar {
    display: none;
  }
}
