.container {
  padding: 1rem;
}

.container h4 {
  padding-left: 1rem;
}

.form_container {
  padding-top: 1rem;
  height: calc(100vh - 130px);
}

.form_content {
  width: 50%;
  margin: auto;
  padding: 1rem;
  padding-top: 2.5rem;
}

.input_container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input_container label {
  display: block;
  text-align: center;
}

.input_container select {
  display: block;
  width: 100%;
  padding: 0.7rem 1.2rem;
  background-color: #ededed;
  border-radius: 10px;
  outline: none;
  border: none;
}

.weather_info_outer_container {
  width: 70%;
  margin: auto;
  padding-top: 2.5rem;
}

.weather_info_container {
  background: #a2e0ff;
  border-radius: 20px;
  color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}

.weather_info {
  text-align: center;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.weather_info_container h6 {
  font-size: 20px;
  font-weight: 400;
}

.weather_info_container h1 {
  font-size: 100px;
  font-weight: 400;
}

.line {
  border: 1px solid #fff;
  height: 100px;
  align-self: flex-end;
}
